

.ONE {
    background-color: rgb(92, 92, 86);
    width: 30%;
    height: 300px;
    float: left;
    padding-top: 50px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

.TWO {
    background-color: rgb(92, 92, 86);
    width: 30%;
    height: 300px;
    float: left;
    padding-top: 50px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

.THREE {
    background-color: rgb(92, 92, 86);
    width: 30%;
    height: 300px;
    float: left;
    padding-top: 50px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}