

.one{
    background-color: rgb(92, 92, 86);
    width: 30%;
    height: 300px;
    float: left;
    padding-top: 50px;
    text-align: center;
    margin: 10px 10px 0px 10px;
    
}

.two{
    background-color: rgb(92, 92, 86);
    width: 30%;
    height: 300px;
    float: left;
    padding-top: 50px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

.three{
    background-color: rgb(92, 92, 86);
    width: 30%;
    height: 300px;
    float: left;
    padding-top: 50px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

.one:hover{
    transform: scale(1.5);
}

.two:hover{
    transform: scale(1.5);
}

.three:hover{
    transform: scale(1.5);
}