.main-content{
    display: flex;
    flex-wrap: wrap;
}



.main-content > .c0, .c1, .c2, .c3 {
    width: 400px;
    margin: 5px;
    padding: 6px;
    background-color: blueviolet;
}


@media screen and (max-width:500px){
    body{
        background-color: red;
    }

}